<div [@routerTransition]>
    <div class="ui-g">
    <!-- <div class="ui-g-12">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>Trackers</span>
                </h1>
            </div>
        </div>
    </div> -->
    <div class="ui-g-12 ui-md-12 ui-lg-3 ui-xl-2">
        <p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)" [contextMenu]="tecm"></p-tree>
        <p-contextMenu #tecm [model]="items"></p-contextMenu>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-9 ui-xl-10">
            <p-tabView (onChange)="handleChange($event)">
                <p-tabPanel *ngFor="let tab of tabs" 
                [header]="tab.header" 
                [closable]="tab.closable" 
                [selected]="tab.selected" 
                class="attachmentViewer">

                    <!-- PDF VIEWER -->
                    <div *ngIf="tab.data.includes('.pdf')" style="height: 100%;">
                        <tab-pdf-viewer [pdfTitle]="tab.header" [pdfUrl]="tab.data"></tab-pdf-viewer>
                    </div>

                    <!-- IMAGE VIEWER -->
                    <div *ngIf="tab.data.includes('.png') || tab.data.includes('.jpg') || tab.data.includes('.bmp   ');" >
                        <tab-img-viewer [imgTitle]="tab.header" [imgUrl]="tab.data"></tab-img-viewer>
                    </div>
                </p-tabPanel>
            </p-tabView>
    </div>
</div>
