<!-- <ag-grid-angular style="width: 900px; height: 115px;" class="ag-material"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs">
</ag-grid-angular> -->


<!-- DATATABLE -->
<p-panel header="Negara Data" [toggleable]="true">
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" class="ui-button-secondary" label="New" icon="fa-plus" (click)="newData()"></button>
            <button pButton type="button" class="ui-button-secondary" label="Open" icon="fa-folder-open" (click)="openData()" [disabled]="!isDataSelected()"></button>
            <button pButton type="button" class="ui-button-secondary" label="Delete" icon="fa-trash" (click)="confirm()"></button>
        </div>
        
        <div class="ui-toolbar-group-right">
            <input type="text" pInputText placeholder="Search by Name or Code" />
            <button pButton type="button" icon="fa-search"></button>
            <button pButton type="button" icon="fa-times"></button>
            <button pButton type="button" icon="fa-refresh"></button>
        </div>
    </p-toolbar>

    <p-dataTable 
    [value]="negara" 
    selectionMode="single" 
    loadingIcon="fa-spinner" 
    [loading]="isLoading" 
    [responsive]="true" 
    [contextMenu]="cm" 
    sortField="name" 
    [sortOrder]="1"
    (onRowSelect)="dataSelected($event)"
    [rows]="10"
    [paginator]="true"
    [rowsPerPageOptions]="[10,20,30]"
    >
        <p-column field="name" header="Name" sortable="true" [filter]="true" filterMatchMode="contains" class="bg-blue"></p-column>
        <p-column field="code" header="Code" sortable="true" [filter]="true" filterMatchMode="contains"></p-column>
    </p-dataTable>

    <p style="margin: 10px 0 0 0;">Total Records = {{negara.length}}</p>
</p-panel>


<!-- FORM -->
<p-panel header={{dataTitle}} [(collapsed)]="!isOpenData" collapseIcon="fa-times" expandIcon="fa-times" [(toggleable)]="isOpenData" (onAfterToggle)="toggleHandler($event)">
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" class="ui-button-secondary" label="Save" icon="fa-save" (click)="save()"></button>
            <button pButton type="button" class="ui-button-secondary" label="Cancel" icon="fa-ban" (click)="formCancel()"></button>
        </div>        
    </p-toolbar>
    <br>
    <div class="ui-g">
        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText [(ngModel)]="name"> 
                <label for="float-input">Name</label>
            </span>
        </div>

        <div class="ui-g-12">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText [(ngModel)]="code"> 
                <label for="float-input">Code</label>
            </span>
        </div>
    </div>
</p-panel>

<!-- DIALOG -->
<p-confirmDialog header={{deleteHeader}} icon="fa fa-trash" width="425">
    
</p-confirmDialog>
<!-- <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog> -->