<!-- DATATABLE -->
<p-panel header="Provinsi Data" [toggleable]="false" >
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" class="ui-button-secondary" icon="fa-file-o" pTooltip="Create New Data" tooltipPosition="bottom" (click)="newData()"></button>
            <button pButton type="button" class="ui-button-secondary" icon="fa-eye" pTooltip="View Data" tooltipPosition="bottom" (click)="viewData()" [disabled]="!isDataSelected()"></button>
            <button pButton type="button" class="ui-button-secondary" icon="fa-pencil" pTooltip="Edit Data" tooltipPosition="bottom" (click)="editData()" [disabled]="!isDataSelected()"></button>
            <button pButton type="button" class="ui-button-secondary" icon="fa-trash" pTooltip="Delete Data" tooltipPosition="bottom" (click)="deleteData()" [disabled]="!isDataSelected()"></button>
            <button pButton type="button" class="ui-button-secondary" icon="fa-table" label="Export to CSV" pTooltip="Export Data to CSV File" tooltipPosition="bottom" (click)="dt.exportCSV()"></button>
        </div>
        
        <div class="ui-toolbar-group-right">
            <!-- <p-dropdown [options]="dataLimit" [(ngModel)]="selectedLimit" (onChange)="dpChange()"></p-dropdown> -->
            <!-- <p-dropdown [options]="negaraCode" autoWidth="false" [(ngModel)]="selectedNegara"></p-dropdown> -->
            <p-multiSelect [options]="negaraCode" [(ngModel)]="selectedNegara"></p-multiSelect>
            <button pButton type="button" icon="fa-search" [disabled]="isLoading" (click)="search()"></button>
            <button pButton type="button" icon="fa-times" [disabled]="isLoading" (click)="clearFilter()"></button>
            <button pButton type="button" icon="fa-refresh" [disabled]="isLoading" (click)="refresh()"></button>
        </div>
    </p-toolbar>

    <p-dataTable #dt
    [value]="provinsi" 
    selectionMode="single" 
    [(selection)]="curProvinsi"
    loadingIcon="fa-spinner" 
    reorderableColumns="true" 
    [loading]="isLoading" 
    [responsive]="true" 
    sortField="name" 
    [sortOrder]="1"
    [contextMenu]="tmc"
    [rows]="10"
    [paginator]="true"
    [rowsPerPageOptions]="[5,10,20]"
    exportFilename="Provinsi Data"
    >
        <p-column field="name" header="Name" sortable="true" [filter]="true" filterMatchMode="contains" class="bg-blue"></p-column>
        <p-column field="negaraName" header="Negara" [filter]="true" filterMatchMode="in">
            <ng-template pTemplate="filter" let-col>
                <p-multiSelect [options]="negaraFilter" defaultLabel="All Negara" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
            </ng-template>
        </p-column>
        <p-footer>Total Records = {{provinsi.length}}</p-footer>
    </p-dataTable>
</p-panel>


<!-- FORM -->
<p-dialog header={{dataTitle}} [(visible)]="isOpenData" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="id">Id</label></div>
            <div class="ui-grid-col-8"><input pInputText id="id" [(ngModel)]="provinsiID" readonly/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="name">Name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="name" [readonly]="isViewOnly"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="code">Negara</label></div>
            <div class="ui-grid-col-8"><p-dropdown [options]="negaraCode" [style]="{'width':'100%'}" [(ngModel)]="adNegaraId" [readonly]="isViewOnly" filter="filter"></p-dropdown></div>
        </div>
        <div *ngIf="isViewOnly" class="infoDataEdit">
            <div> Created by {{userCreate}} at {{createDate}}</div>
            <div *ngIf="userEdit != ''"> Edited by {{userEdit}} at {{editDate}}</div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="formCancel()" label="Cancel" *ngIf="!isViewOnly"></button>
            <button type="button" pButton icon="fa-check" (click)="completeSelection()" label="Save" *ngIf="!isViewOnly"></button>
            <button type="button" pButton icon="fa-close" (click)="formClose()" label="Close" *ngIf="isViewOnly"></button>
        </div>
    </p-footer>
</p-dialog>

<p-contextMenu #tmc [model]="tmcMenu"></p-contextMenu>